footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-size: 1em;
}

.body-container {
  height: calc(100% - 6.375rem);
  & > .row {
    height: 100%;
  }
}

.right-side-component-container {
  height: 100%;
}

.add-new-page-section {
  .row {
    div.col {
      display: flex;
      justify-content: flex-end;
    }
  }
}

article {
  height: calc(100% - 2.625rem);
}

button.icon-button {
  background: no-repeat;
  border: none;
  &.add-btn {
    svg {
      margin-left: 1em;
    }
  }
  svg {
    font-size: 1rem;
  }
}
